body {
    margin:30px;
    background: #3e3d3d;    /* Цвет фона */
    color: #706d6b;         /* Цвет текста */
    font-family: 'Titillium Web', sans-serif;   /*Шрифт*/ 
    font-weight: 700;
    margin-left: 150px;
    text-align: center; 
}

h1{
  text-align:center;
}
table { 
  display: inline-block;
  font-weight: 700;
  text-align:center;
  font-family: 'Titillium Web', sans-serif;   /*Шрифт*/ 
}
th {
  color: #cdc8c4; 
  border:1px solid;
  padding:10px;
} 
td {
  border:1px solid;
  padding:10px;
}


a:hover {
  color:#d7d7cf;
}
a {
  color:#60605d;
}
h1 {
  text-align:center;
}
span { 
  font-family: 'Titillium Web', sans-serif;   /*Шрифт*/ 
  font-weight: 700;
}
.d { 
  display: flex;
  flex-direction: row;
}
.inline {
  display:inline-block;
  margin-right:5px;
}
.had1 { 
  font-size:40px;
  background: #ec1b1b; 
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: #dfdcda; 
  border:1px solid #9C1818;   
  border-radius:17px;
}
.had2 { 
  font-size:40px;
  color: #dfdcda;         /* Цвет текста */
}

.exit {
  color: rgb(255, 255, 255);
  height: 30px;
  font-size:17px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  background-color:#bd1e1e;
  border:1px solid #9C1818;   
  border-radius:7px;
  margin:10px;
  padding:5px;
}
.like {  color: rgb(255, 255, 255);
  height: 30px;
  font-size:17px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  background-color:#bd1e1e;
  border:1px solid #9C1818;   
  border-radius:7px;
  margin:10px;
  padding:5px;
}
.li {  
  color: #bd1e1e;
  height: 30px;
  font-size:30px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  background-color:#242422;
  border:none;   
  border-radius:7px;
  margin:10px;
  padding:5px;
  margin-left: 570px;
}
.window {
  display: none; 
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.wind {
  color: rgb(255, 255, 255);
  height: 30px;
  font-size:17px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  background-color:#bd1e1e;
  border:1px solid #9C1818;   
  border-radius:7px;
  margin:10px;
  padding:5px;
}
.window-content {
  background-color: #393737;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}
.close-btn {
  color: #d1c7c7;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close-btn:hover {
  color: #000;
}
/*----- Цвет окон ввода -----*/
input[type="text"] {
  background-color: #706d6b;
  color: #ffe;
}
/*----- Стиль кнопок логин регистрация -----*/
input[type="submit"] {
  color: rgb(255, 255, 255);
  height: 30px;
  font-size:17px;
  font-weight: 700;
  font-family: 'Titillium Web', sans-serif;
  background-color:#bd1e1e;
  border:1px solid #9C1818;   
  border-radius:7px;
}


/* Боковое содержание */
.sidenav {
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #f3efef;
  background-color: #111;
  overflow-x: hidden; /* отработка переполнения в горизонтальном направлении */
  padding-top: 30px;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

.sidenav a {
  padding: 6px 15px 6px 0px;
  font-size: 19px;
  color: #818181;
  display: block; 
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}

/* Footer */
.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  background-color: #636363;
  color: #c0c0c0;  
  text-align: center; 
}

.footer p {
  margin-top: 2px;
  margin-bottom: 0;
  font-family: 'Titillium Web', sans-serif; 
  margin-left: 150px;
  text-align: center; 
}
.footer-content-right {
  padding-right:50px;
  margin-top:20px;
  float:right;
}
.icon-style {
  height:40px;
  margin-left:20px;
  margin-top:5px;
}
.icon-style:hover {
  background-color:rgb(81, 81, 81);
  border-radius:7px;
}

